/* everything */

body {
    font-family: 'Raleway', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', sans-serif;
}

a {
    color: #e2574c;
    text-decoration: none;
    font-weight: lighter;
}

a:hover {
    color: #b64036;
}

p {
    font-weight: lighter;
    font-size: 1rem;
}

/* CONTAINER-STYLE */

.container {
    max-width: 1240px;
    width: 90vw;
    margin: 0 auto;
}

/* HEADING-TEXT-STYLE */

.heading--title {
    font-size: 2.5rem;
    text-align: center;
}

.heading--title span {
    font-style: italic;
    font-weight: normal;
}

/* HEADER */

.header {
    position: fixed;
    height: 125px;
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
}

.header--title {
    width: 10vw;
    order: 1;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    text-align: left;
}

.header--cart {
    position: relative;
    order: 2;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    text-align: right;
}

.header--nav {
    order: 3;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding: 20px 0;
    margin-top: 5px;
    border-top: 1px solid #d7d7d7;
}

.header--nav__list {
    display: flex;
    justify-content: space-evenly;
}

.header--nav__list li {
    display: inline;
}

.header--title__image {
    max-width: 100%;
    width: 150px;
}

.header--cart__image {
    max-width: 100%;
    width: 50px;
}

.counter {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #e2574c;
    color: #fff;
    z-index: 3;
    text-align: center;
}

/* TOP-BANNER-IMAGES */

.top--section {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.3)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center, 50% 150%, center;
    background-size: auto, 12rem, cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #242424;
    padding-top: 120px;
}

.top--section__title {
    font-size: 3rem;
    font-weight: normal;
    z-index: 5;
}

.top--section__span {
    padding: 10px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index: 5;
}

/* INTRO-TEXT */

.intro {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro--p {
    text-align: center;
    margin: 20px;
    line-height: 2;
    width: 535px;
}

.intro--p,
.subscribe--p {
    font-size: 1rem;
    width: 90vw;
}

/* CATEGORY-BOXES */

.category {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px;
}

.category--item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.category--item::before {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.category--item span {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
}

.mens {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background-image: url('../images/mens-category.jpg');
    background-position: center;
    background-size: cover;
}

.trends {
    grid-column: 1 / 2;
    grid-row: 2 / span 1;
    background-image: url('../images/trends-category.jpg');
    background-position: center;
    background-size: cover;
}

.glasses {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-image: url('../images/glasses-category.jpg');
    background-position: center;
    background-size: cover;
}

.sale {
    grid-column: 1 / 2;
    grid-row: 3 / span 1;
    background-image: url('../images/sale-category.jpg');
    background-position: center;
    background-size: cover;
}

.bags {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background-image: url('../images/bags-category.jpg');
    background-position: center;
    background-size: cover;
}

.womens {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    background-image: url('../images/womens-category.jpg');
    background-position: center;
    background-size: cover;
}

/* FEATURES-SLIDER */

.features {
    padding: 50px 0;
    text-align: center;
}

.main-carousel {
    margin: 20px 0;
}

.carousel-cell {
    height: 470px;
    width: 100%;
}

.carousel-cell h3 {
    padding: 20px 0;
    font-size: 1.5rem;
    color: #e2574c;
}

.carousel-cell span {
    color: #969696;
}

.features--item {
    height: auto;
    width: auto;
    max-width: 275px;
}

.add--btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: block;
    border: none;
    background-color: #242424;
    border-radius: 15px;
    color: #fff;
    padding: 10px 30px;
    margin: 20px auto;
    cursor: pointer;
}

.add--btn:hover {
    background-color: #242424;
}

/* SUBSCRIBE_SECTION */

.subscribe {
    height: 350px;
    background-image: url('../images/wave-bkgd.jpg');
    background-position: bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.subscribe--title {
    color: #fff;
    text-shadow: 1px 1px 2px gray;
}

.subscribe--p {
    font-size: 1.0rem;
    line-height: 1.5rem;
    padding: 20px 0;
    color: #fff;
    margin: 0 auto;
}

.subscribe--form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe--email {
    width: 320px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-right: -120px;
}

.subscribe--email::placeholder {
    padding-left: 1rem;
}

.subscribe--submit {
    background-color: #e2574c;
    height: 32px;
    border-radius: 15px;
    font-size: .8rem;
    border: none;
    color: #fff;
    position: relative;
    width: 115px;
    cursor: pointer;
}

.subscribe--submit:hover {
    background-color: #b64036;
}

/* FOOTER_SECTION */

.footer {
    background-color: #242424;
    color: #fff;
    padding: 50px 0;
    margin-top: 10px;
}

.footer--wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* FOOTER--COMPANY--INFO */

.footer--text {
    line-height: 20px;
}

.footer-contact {
    margin: 20px 0;
}

.mail {
    text-decoration: underline;
}

.footer--address {
    color: #969696;
    line-height: 30px;
}

/* FOOTER--SNS--ICONS */

ul.icons--ul {
    margin-left: 0;
    margin: 10px 0;
}

.icons--ul li {
    display: inline;
    padding-right: 10px;
    padding-bottom: 10px;
}

.icons--ul span {
    display: none;
}

@media only screen and (min-width: 600px) {
    .intro--p,
    .subscribe--p {
        width: 578px;
    }
    /* HEADER */
    .header--title {
        order: 1;
        width: 10vw;
        flex-basis: 20%;
        -webkit-flex-basis: 20%;
    }
    .header--nav {
        order: 2;
        font-size: 1rem;
        flex-basis: 60%;
        -webkit-flex-basis: 60%;
        border: none;
        font-weight: 600;
    }
    .header--cart {
        order: 3;
        position: relative;
        flex-basis: 15%;
        -webkit-flex-basis: 15%;
    }
    .header--lists {
        display: flex;
        justify-content: space-evenly;
    }
    /* CATEGORY-SECTION */
    .category {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
    }
    .category--item {
        height: 300px;
    }
    .category--item span {
        font-size: 1.8rem;
    }
    .mens {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .trends {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .glasses {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }
    .sale {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .bags {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .womens {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    /* SLIDER--SETTING */
    .carousel-cell {
        width: auto;
    }
    /* SUBSCRIBE-MAIL-FORM */
    .subscribe--email {
        width: 380px;
    }
    /* FOOTER-WRAPPER */
    .footer--wrapper {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    /* FOOTER--ICONS */
    .fab {
        padding-right: 10px;
    }
    .fa-facebook-f {
        padding-right: 16px;
    }
    .icons--ul li {
        display: flex;
        justify-content: start;
    }
    .icons--ul span {
        display: inline;
    }
}

/* FOR-DESKTOP */

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    a {
        color: #e2574c;
        text-decoration: none;
    }
    .container {
        max-width: 1240px;
        width: 90vw;
        margin: 0 auto;
    }
    .address {
        color: #969696;
        line-height: 30px;
    }
}